/* src/Timeline.css */
.timeline-container {
    overflow-x: auto;
    cursor: grab;
    width: 100%;
    white-space: nowrap;
    user-select: none;
    /* Prevent text selection on drag */
    scrollbar-width: thin;
    /* For Firefox - optional */
    scrollbar-color: #888 #f0f0f0;
    /* For Firefox - optional */
}

.timeline-container::-webkit-scrollbar {
    height: 8px;
    /* Height of the horizontal scrollbar */
}

.timeline-container::-webkit-scrollbar-thumb {
    background: #888;
    /* Color of the scroll thumb */
    border-radius: 4px;
}

.timeline-container::-webkit-scrollbar-track {
    background: #f0f0f0;
    /* Color of the scrollbar track */
}

.timeline-container:active {
    cursor: grabbing;
}

.timeline {
    position: relative;
    height: 40px;
    width: 100vw;
    /* Adjust height as needed */
    background-color: #f0f0f0;
    display: flex;
    /* Use flex to line up blocks horizontally */
}

.timeline-block {
    height: 100%;
    border-radius: 3px;
}